* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero-section {
  background-image: url('./img/jumbotron.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero-products {
  background-image: url('./img/jumbotron2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.hero-detail {
  background-image: url('./img/jumbotrone3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

